:root {
  --bs-body-bg: #f3c4f7;
}

[data-bs-theme="dark"] {
  --bs-body-bg: #461b41;
  --bs-light-rgb: 255, 0, 0 ;
  --bs-dark-rgb: 44, 4, 4;
}
[data-bs-theme="light"]{

  --bs-body-bg: #f180f1d0;
  --bs-light-rgb: 255, 0, 0 ;
  --bs-dark-rgb: 44, 4, 4;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#app {
  padding: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.lupa {
  transition: 0.3s ease-in-out;
}
.lupa:hover {
  filter: brightness(1.3);
}



